{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>

    <!-- New Feature: Change Password Button -->
    <div class="mt-4 text-center">
        <a href="{% url 'password_change' %}" class="btn btn-outline-primary">
            Change Password
        </a>
    </div>
{% endblock content %}
