{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="content-section">
        <h2 class="text-center mb-4">Join Today</h2>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form.as_p }}
                {% if form.errors %}
                    <ul class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"> Sign Up </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a href="{% url 'login' %}">Sign In</a>
            </small>
        </div>
    </div>
</div>

  
{% endblock content %}
